*{
    margin:0;
    padding:0;
    font-family:Fserif;
    box-sizing:border-box;
}


.header{
    height: 10vh;
    width:100% ;
    padding:0 8%;
    background:#ADDFB3;
    position: position: absolute; top: 0; }
nav{
    display:flex;
    align-items: center;
    justify-content:space-between ;
}
.logo{ 
    width: 140px;
}
.nav-links{
    padding: 28px 0;
}
.nav-links li{
    display:inline-block
    margin:0 15px;

}
.nav-links li a{
    text-decoration: none;
    color:#000000
    padding:5px 0;
    position:relative;
}
.nav-links li a: :after{
    content: '';
    background: #ADDFB3;
    width:0;
    height: 2px;
    position:absolute;
    bottom:0;
    left: 0;
    transition:width 0.5s;
}
.nav-links li a:hover: :after{
    width:100%;
}

#toothBilledPigeon {
    margin-top: 17px;
    margin-bottom: 17px;
}
#northatlantic {
    margin-top: 17px;
    margin-bottom: 13px;
}
#seaturtle{
    margin-top: 17px;
    margin-bottom: 17px;
}
#rhinos{
    margin-top: 17px;
    margin-bottom: 17px;
}
body { background-color:rgb(255, 255, 255)}

#home{
    text-decoration: none;
    font-size: 18px;

}

#info{ 
    text-decoration: none;
    font-size: 18px;
}

#contact{
    font-size: 18px;
    text-decoration: none;
}

h1 {
    font-family:"rockwell",san-serif;
}
p{
    font-family: "bembo", serif;
}