#toothBilledPigeon {
    margin-top: 17px;
    margin-bottom: 17px;
}
#northatlantic {
    margin-top: 17px;
    margin-bottom: 13px;
}
#seaturtle{
    margin-top: 17px;
    margin-bottom: 17px;
}
#rhinos{
    margin-top: 17px;
    margin-bottom: 17px;
}
<style>
body{ background-color:rgb(162,228,184)} </style>
